.HeaderContainer{
	width:300px;
	height: 100vh;
	float:left;
}

.InsideHeader{
	width:90%;
	height: 50px;
	display: inline-block;
	margin:10px 10px 10px 10px;
	text-align: center;
}

body {
    font-family: "Lato", sans-serif;
    width:100%;
    height: 100%;
    overflow-x: hidden;
}

.sidenav{
	height: calc(100vh - 60px);
    width: auto;
    background-color: #00304C;
    position: fixed;
    left: 0px;
    top: 60px;
    display: -ms-flexbox;
    display: block;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    z-index: 300;
    overflow-x: hidden;
    overflow-y: visible;
}
.sideInnerScroll {
    height: auto;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    padding: 0;
    width: 15vw;
}
.innersidenav{
	display: block;
	width:100%;
	position: relative;
	color:#C7D1D7;
	padding-top:15px;
}
.innersidenav:hover{
	color:white;
	background-color:#003a5b;
	cursor: pointer;
}
.menuName{
	padding-left: 20px;
	position: relative;
	bottom: 10px;
	height: auto;
}
.menuActive{
	background-color: #004873;
	border-left: 5px solid #0079BF;
}
.submenu{
	width:12vw;
	position: relative;
	left:20px;
	padding-top:20px ;
	display: block;
	margin:0 0 0 0;
	padding: 0 0 0 0;
	color:#C7D1D7;
	white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}
.submenu:hover{
	color:white;
}
.header{
	position:fixed;
	top:0px;
	left:0px;
	background-color:white;
	height:50px;
	width:100%;
	padding-bottom: 60px;
	z-index:300;
	border-bottom:1px solid #d1d1d1;
}
.divContainer{
	display:inline-block;
	height:auto;
	margin-top:10px;
}
.logoContainer{
	width:50px;
}
.inputHeader{
	background-color:#EDF1F2;
	background-image: url(http://localhost:3000/search.svg);
	background-position: 7px 7px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding-left:50px
}
.plusHeader{
	width:40px;
	height: 40px !important;
	background-color:#18CC6C;
	border-radius:50%;
}
.plusIconHeader{
	color:white;
	margin-top:10px;
	margin-left:13px;
}
.profileHeader{
	float:right;
	padding-right:20px;
}
.angledownProfile{
	float:right;
	position:relative;
	top:15px;
}
.userCircleProfile{
	font-size:40px;
	padding-right:10px;
	float:right;
}
.companyHeader{
	float:right;
	margin-top:20px;
	padding-right:50px;
}
.nameCompanyHeader{
	font-size:20px;
	margin-right:10px;
}
.angeldownCompany{
	position:relative;
	top:2px;
}
.profileDiv{
	width:100%;
	height:49px;
	text-align:center;
	border-bottom:1px solid #111111
}
.activeHere{
	background-color: #f1f1f1;
	color:red !important;
}
.headingDashboardContainer{
	width:100%;
	height:50px;
	margin-left:-5px;
	border:1px solid #f1f1f1;
	padding-top:50px;
}
.headingDashboard{
	position:relative;
	bottom:40px;
	left:30px;
}
.dashboardContainer{
	width:101.8%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	background-color: #eee;
	margin-left: 5px;
}


.innerdashboarddiv{
	height: 600px;
	margin:10px 10px 10px 10px;
	justify-content: center;
	justify-content: space-around;
	display: flex;
	flex-direction: column;
}


.subdashboarddiv{
	width:100%;
	height: 290px;
	background-color: white;
	border-radius: 5px;
	box-shadow: 1px 1px 2px 2px #d1d1d1;
}

.dashboard1{
	width:23%;
	padding-left: 0;
	padding-right: 0;
}
.dashboard2{
	width:46%;
	padding-left: 0;
	padding-right: 0;
	border:1px solid #f1f1f1 ;
	background-color: white;
	border-radius: 5px;
	box-shadow: 1px 1px 2px 2px #d1d1d1;
}
.HeadingComments{
	position: relative;
	bottom: 270px;
}
.meterHeading{
	position: relative;
	bottom: 100px;
}
.subdashboarddiv{
	border:1px solid #f1f1f1 ;
}

.openissues{
	display: inline-block;
	width:50%;
	height: 100px;
	box-sizing: border-box;
	margin-top: 50px;
	text-align: center;
}
.innerContainer{
	position:relative;
	top:30px;
	font-size:30px;
	color:rgb(24, 204, 108);
}
.innerContainerHeading{
	color:#888;
	position:relative;
	top:30px;
}
.marginLeft{
	margin-left: 20px;
	margin-top: 20px;
}
.footerMeterContainer{
	width:90%;
	height:75px;
	margin:0 auto;
	border-top:1px solid #f1f1f1;
}
.footerMeter{
	text-align:center;
	padding-top:20px
}
.footerDiv{
	width:10px;
	height:10px;
	display:inline-block;
	margin-right:10px;
}
.milesDiv{
	background-color:lightblue;
	border-radius:50%,
}
.kmsDiv{
	background-color:yellow;
	transform: rotate(45deg);
}
.hoursDiv{
	background-color:purple;
}
.footerHead{
	display:inline-block;
	font-size:15px;
	margin-right:20px;
}
.comments{
	position: relative;
	bottom:500px;
	text-align: center;
}
.vehicleDiv{
	width:100%;
	height: 50px;
	border-bottom: 1px solid #f1f1f1;
}

.VehicleValue{
	float: right;
	height: 30px;
	width: 30px;
	float: right;
	position: relative;
	bottom:30px;
	right:10px;
	border-radius: 30%;
	color:white;
	text-align: center;
}

.profileDrop{
	width:275px;
	height: 300px;
	position: relative;
	top:50px;
	left:60px;
	box-sizing: border-box;
	display: inline-block;
	background-color: white;
	box-shadow: 1px 1px 1px 1px #d1d1d1;
}
.companyDrop{
	width:275px;
	height: 400px;
	position: relative;
	top:40px;
	display: inline-block;
	background-color: white;
	box-shadow: 1px 1px 1px 1px #d1d1d1;
}
.innerCompanyHeader{
	position: fixed;
	right:138px;	
}
ul{
	list-style-type: none
}

.profileDropList{
	padding-bottom: 14px;
}

.dividerProfile{
	height: 1px;
	border-top:1px solid #f1f1f1;
	width:80%;
	padding-bottom: 14px;
}
.marginLogo{
	margin-right: 20px;
	color:#d1d1d1;
}

.companyLogo{
	width:100px;
	height: 100px;
	border-radius: 5px;
	border:1px solid #f1f1f1;
	position: relative;
	top:20px;
	left:50px;
}

.companyInnerLogo{
	position: relative;
	font-size: 40px;
	color:#f1f1f1;
	left:25px;
	top:20px;
}
.addLogoHeading{
	color: #888;
    position: relative;
    top: 20px;
    left: 15px;
}
.CompanyNameProfile{
	position: relative;
    top: 30px;
    left: 55px;
    padding-bottom: 20px;
}

.dividerCompany{
	height: 1px;
	border-top:1px solid #f1f1f1;
	width:80%;
	padding-bottom: 14px;
}
.companyDropList{
	padding-bottom: 14px;
	font-size: 13px;
}
.topHeadingContainer{
	width:88vw;
	height:50px;
	border-bottom:1px solid #111;
	background-color:white;
	margin-top:-4px;
}
.headingCreateMachine{
	position:relative;
	left:50px;
	top:5px;
	display:inline-block;
}
.saveButtonHeader{
	float:right;
	display:inline-block;
	margin-left:20px;
	position:relative;
	right:50px;
	top:5px
}
.cancelHeading{
	float:right;
	display:inline-block;
	color:blue;
	position:relative;
	right:50px;
	top:8px;
}
.formContainer{
	background-color:#fff;
	border-radius:5px;
	box-shadow:1px 1px 1px 1px #666
}
.machineForm{
	padding-top:50px;
	padding-bottom:50px;
}
.footerContainerMachine{
	height:100px;
	margin-top:50px;
	border-top:1px solid #101010;
}
.footerMachine{
	margin-top:30px;
}
.cancelFooterMachine{
	display:inline-block;
	color:blue;
}
.saveButtonFooterMachine{
	float:right;
	display:inline-block;
	margin-left:50px
}
.submitAndEditFooterMachine{
	float:right;
	display:inline-block;
}
.inputPaddingMachine{
	padding-bottom: 10px;
}
/* react-bootstrap-typeahead css start*/
.close{
	font-size: 1.2em;
}
.rbt-token-removeable {
    cursor: pointer;
    padding-right: 21px;
}

.rbt-token {
    background-color: #e7f4ff;
    border: 0;
    border-radius: 2px;
    color: #1f8dd6;
    display: inline-block;
    line-height: 1em;
    margin: 0 3px 3px 0;
    padding: 4px 10px;
    position: relative;
}

.rbt-input-multi .rbt-input-hint-container {
    display: inline-block;
}

.rbt-input-multi {
    cursor: text;
    overflow: hidden;
    position: relative;
    height: auto;
   /* width:317% !important;*/
}
.form-inline .form-control{
	width:100.5% !important;
}
/* react-bootstrap-typeahead-end*/

.downicon{
	float: right;
	margin-right: 10px;
}

.machineContainerFlex{
	width:100%;
	height: calc(100vh-200px);
	display: flex;
	flex-wrap: wrap;
	background-color: #EEEEEE;
}
.eachMachineContainer{
	width:100%;
	height: auto;
	margin:5px 5px 5px 5px;
	background-color: white;
}